@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap");


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background: rgb(233, 233, 233);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  
}

.bg-image{
  background-image: url("https://sun9-56.userapi.com/impg/e0OfdDKqyll4qP4t3ThQ0TKKUodvZd_m2VAhzw/IVczD9UGKbc.jpg?size=760x861&quality=95&sign=fe3263fbd9819ffcdeb0f5984d5f98e3&type=album");
  background-size:cover;
  background-position:center center;
  height: 100vh;
  position:fixed;
  left:0;
  right:0;
  z-index:-1;
}

form {
  display: flex;
  flex-direction: column;
  background: #fff;
  width:400px;
  border-radius: 10px;
  overflow: hidden;
-webkit-box-shadow: 0px 0px 40px 9px rgba(0,0,0,0.6);
box-shadow: 0px 0px 40px 9px rgba(0,0,0,0.4);
}

.head {
  background: rgb(47, 226, 98);
  margin-bottom: 10px;
  padding: 15px;
}

.head h1,
p {
  text-align: center;
  color: white;
}

.head p {
  font-size: 12px;
}

label {
  margin-left: 20px;
}

input,
textarea {
  padding: 10px;
  margin: 5px 20px 20px 20px;
  outline: none;
  border-radius: 10px;
  border: 1px solid #ccc;
}

input:focus,
textarea:focus {
  border: 1px solid rgb(47, 226, 98);
}

textarea {
  resize: vertical;
}

button {
  outline: none;
  background: rgb(47, 226, 98);
  border: none;
  padding: 10px;
  border-radius: 50px;
  margin: 10px;
  color: white;
  cursor: pointer;
  transition: all 0.5s;
}

button:hover {
  background: rgb(0, 105, 204);
}


@media screen and (max-width: 417px){
  form{
    width:100%;
    height:100%;
  }
}

